@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Karla, system-ui, sans-serif;
  }
}

.app {
  @apply w-full h-full overflow-auto;
}

.home {
  @apply flex w-screen h-screen overflow-auto bg-gradient-to-r from-indigo-200 via-red-200 to-yellow-100;
}

.home-content {
  @apply flex flex-col items-center absolute m-auto left-0 right-0 justify-center gap-4;
}

.head-text {
  @apply opacity-75 xl:text-[6rem] lg:text-[5.1rem] md:text-[4rem] sm:text-[3.3rem] xsm:text-[1.8rem] xl:leading-[11rem] leading-[7rem] font-black text-black drop-shadow-2xl shadow-black;
}

.shoe-description-card {
  @apply flex absolute xl:bottom-auto xl:w-2/5 xl:left-20 self-center lg:justify-center lg:w-1/2 lg:inset-x-0 lg:bottom-4 lg:left-1/4 md:inset-x-0 md:bottom-4 md:left-1/4 md:w-1/2 sm:inset-x-0 sm:bottom-8 sm:left-1/4 sm:w-1/2 xsm:inset-x-0 xsm:bottom-0 xsm:w-fit flex-col rounded-xl bg-white/20 shadow-xl shadow-black border-black/50 border-s-0;
}

.shoe-description-text {
  @apply m-4 text-justify xl:text-[0.95rem] lg:text-[0.85rem] md:text-[0.75rem] sm:text-[0.65rem] xsm:text-[0.63rem] font-black text-black;
}

.back-button {
  @apply flex m-2 justify-center py-2.5 font-bold xl:text-4xl border-2 border-black rounded-md;
}

.progressCard {
  @apply flex fixed top-1/2 left-1/2 z-10;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

.underhead-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 800;
  animation: blink 5s infinite;
}

.loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  background-image: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 8s;
  z-index: 1;
}

.loadingScreen__board {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 64px;
  background-color: rgb(237, 240, 244, 0.45);
  border-radius: 24px;
  text-align: center;
  border: solid 6px rgb(0 0 0 / 12%);
  transition: opacity 0.4s;
  text-align: center;
}

.loadingScreen__title {
  font-size: 1rem;
  color: rgba(90, 84, 84, 0.5);
  margin: 0;
  margin-bottom: 8px;
  filter: drop-shadow(59px 2px 40px #986767);
}
@media screen and (min-width: 900px) {
  .loadingScreen__title {
    font-size: 4rem;
  }
  .loadingScreen__button {
    font-size: 2.5rem;
  }
}

.loadingScreen__button {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.24);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.4s;
}

.loadingScreen__button:hover {
  background-color: rgba(0, 0, 0, 0.42);
  cursor: pointer;
}

.loadingScreen__button:disabled {
  opacity: 0.1;
  cursor: not-allowed;
}

.loadingScreen--started {
  opacity: 0;
  pointer-events: none;
}

.loadingScreen--started .loadingScreen__board {
  opacity: 0;
}
